doc/AdminRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema
    targetNamespace="http://www.cpscreen.com/schemas"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.cpscreen.com/schemas"
    elementFormDefault="qualified"
    version="1">
  <xs:element name="ChoicePointAdminRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ChangePassword" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Account" type="xs:string"/>
              <xs:element name="UserId" type="xs:string"/>
              <xs:element name="Password" type="xs:string"/>
              <xs:element name="NewPassword" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PackageDetail" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageId">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{4}|ALL"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="userId" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>ChoicePoint assigned customer user id. The max length
						of the userId is 30 characters.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="account" type="xs:string" use="required"/>
      <xs:attribute name="password" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
