doc/CPScreenings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cpscreen.com/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cpscreen.com/schemas" elementFormDefault="qualified" version="1">
	<xs:include schemaLocation="InstantNCRP.xsd" />
	<xs:include schemaLocation="InstantSSNV.xsd" />
	<xs:include schemaLocation="InstantEVTN.xsd" />
	<xs:include schemaLocation="CommonTypes.xsd" />	
	<xs:complexType name="PersonalDataType">
		<xs:sequence>
			<xs:element name="PersonName" type="PersonNameType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name information for the search subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalAddress" type="PostalAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Postal address for the search subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactMethod" type="ContactMethodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact information including phone numbers and email addresses for the search subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DemographicDetail" type="DemographicDetailType">
				<xs:annotation>
					<xs:documentation>Demographic information about the search subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmploymentHistory" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Employment history for the search subject.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Employer" type="EmployerType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EducationHistory" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Education history for the search subject.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SchoolOrInstitution" type="SchoolOrInstitutionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MilitaryHistory" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Military history for the search subject.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Branch" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The branch of the military the search subject was assigned.  Example: army, navy, air force, marines</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CriminalHistory" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Criminal history for the search subject.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CriminalCase" type="CriminalCaseType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="References" minOccurs="0">
				<xs:annotation>
					<xs:documentation>References for the search subject.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Reference" type="ReferencesType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Licenses" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Licenses for the search subject.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="License" type="LicenseType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseType">
		<xs:annotation>
			<xs:documentation>License information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LicenseNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>License number. Maximum of 20 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicenseName">
				<xs:annotation>
					<xs:documentation>Type of license. 
					Values: cer - certification 
							faa - pilots 
							ind - individual 
							lic - license 
							mvr - motor vehicle 
							ins - insurance</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="cer"/>
						<xs:enumeration value="faa"/>
						<xs:enumeration value="ind"/>
						<xs:enumeration value="lic"/>
						<xs:enumeration value="mvr"/>
						<xs:enumeration value="ins"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="LicenseDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional details about this license.  Maximum of 255 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicenseRegion" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>License two character state.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicenseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This indicates the type of License; valid values:Commercial and Non-Commercial. Applicable to Texas Only</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Non-Commercial"/>
						<xs:enumeration value="Commercial"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CandidateNameOnLicense" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Candidate's name as it appears on License</xs:documentation>
				</xs:annotation>
			</xs:element>	
			<xs:element name="LicensingAgency" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the Agency that issued the license.</xs:documentation>
				</xs:annotation>
			</xs:element>	
			<xs:element name="LocalLanguageAgencyName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the Agency in the local language.</xs:documentation>
				</xs:annotation>
			</xs:element>	
			<xs:element name="Institute">
				<xs:complexType>
				<xs:sequence>
					<xs:element name="AuthorityPhone" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Agency's Contact Phone</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				</xs:complexType>
			</xs:element>					
			<xs:element name="LicenseStatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Status of the issued License</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicenseAuthorityAddress" type="PostalAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address of issuing agency </xs:documentation>
				</xs:annotation>
			</xs:element>	
		</xs:sequence>
		<xs:attribute name="validFrom" type="DateOrEmptyType"/>
		<xs:attribute name="validTo" type="DateOrEmptyType"/>
	</xs:complexType>
	<xs:complexType name="ReferencesType">
		<xs:annotation>
			<xs:documentation>Reference information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of contact. Maximum of 90 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Personal"/>
						<xs:enumeration value="Professional"/>
						<xs:enumeration value="Business"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Region" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Two character state code of contact's current residence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="YearsAcquainted" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of years the reference has known the search subject.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactMethod" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method of contacting reference.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Telephone" minOccurs="0" maxOccurs="2">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Number" type="xs:string" minOccurs="0"/>
									<xs:element name="Extension" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="InternetEmailAddress" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Email Contact information.</xs:documentation>
							</xs:annotation>
						</xs:element>		
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherType">
		<xs:annotation>
			<xs:documentation>Other type used to collect information for other screenings.</xs:documentation>
		</xs:annotation>		
		<xs:sequence>
			<xs:element name="PersonName" type="PersonNameType" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional information needed to execute the other screening. Maximum of 255 characters.</xs:documentation>
				</xs:annotation>				
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublicRecordType">
		<xs:annotation>
			<xs:documentation>Used to collect and display information about a public record screening.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="PersonNameType" minOccurs="0"/>
			<xs:element name="PostalAddress" type="PostalAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CriminalCaseType">
		<xs:annotation>
			<xs:documentation>Admitted criminal information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChargeOrComplaint" type="xs:string">
				<xs:annotation>
					<xs:documentation>Criminal charge or complaint - example: ASSAULT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeTypeClassification">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="felony"/>
						<xs:enumeration value="forfeiture"/>
						<xs:enumeration value="infraction"/>
						<xs:enumeration value="misdemeanor"/>
						<xs:enumeration value="pettyOffence"/>
						<xs:enumeration value="summary"/>
						<xs:enumeration value="traffic"/>
						<xs:enumeration value="violation"/>
						<xs:enumeration value="capias"/>
						<xs:enumeration value="showCause"/>
						<xs:enumeration value="ordinanceViolation"/>
						<xs:enumeration value="sealed"/>
						<xs:enumeration value="felonyReducedToMisdemeanor"/>
						<xs:enumeration value="misdemeanorReducedToViolation"/>
						<xs:enumeration value="unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChargeDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SchoolOrInstitutionType">
		<xs:annotation>
			<xs:documentation>Education information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SchoolName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the school. Maximum of 50 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocalLangSchoolName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the school in local language. Maximum of 50 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>					
			<xs:element name="LocationSummary" type="PostalAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address of employer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to collect the school's phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Degree" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Degree information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DegreeMajor" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>The major field of study.  Mutliple majors should be listed in separate elements. Maximum of 50 characters.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DegreeMeasure">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="EducationalMeasure">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="MeasureSystem">
													<xs:annotation>
														<xs:documentation>Measure System is GPA</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="MeasureValue">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NumericValue" type="xs:string"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DegreeDate" type="DateOrEmptyType" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="degreeType" type="DegreeType">
						<xs:annotation>
							<xs:documentation>Degree of certificate awarded. Maximum of 20 characters. Example: BA</xs:documentation>
						</xs:annotation>
					</xs:attribute>					
				</xs:complexType>
			</xs:element>
			<xs:element name="DatesOfAttendance" type="DateRangeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Range of dates of school attendance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name subject used at school if different from current name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schoolType">
			<xs:annotation>
				<xs:documentation>Used to distinguish different types of educational institutions</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="highschool"/>
					<xs:enumeration value="secondary"/>
					<xs:enumeration value="trade"/>
					<xs:enumeration value="community"/>
					<xs:enumeration value="college"/>
					<xs:enumeration value="technicalCollege"/>	
					<xs:enumeration value="postGraduate"/>										
					<xs:enumeration value="GED"/>						
					<xs:enumeration value="other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DateRangeType">
		<xs:sequence>
			<xs:element name="Location" type="xs:string" minOccurs="0"/>
			<xs:element name="StartDate" type="DateOrEmptyType" minOccurs="0"/>
			<xs:element name="EndDate" type="DateOrEmptyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DrugType">
		<xs:annotation>
			<xs:documentation>Contains drug test information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SpecimenIdNumber">
				<xs:annotation>
					<xs:documentation>Contains specimen id number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DrugTestInitiatedDate"
				type="DateTimeTypeWithZone" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contains Drug Test Initiated Date
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlcoholType">
		<xs:annotation>
			<xs:documentation>Contains alcohol test information</xs:documentation>
		</xs:annotation>
	</xs:complexType>	
	<xs:complexType name="PhysicalType">
		<xs:annotation>
			<xs:documentation>Contains physical test information</xs:documentation>
		</xs:annotation>
	</xs:complexType>	
	<xs:complexType name="EmployerType">
		<xs:annotation>
			<xs:documentation>Contains previous and current employment information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmployerName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Employer name. Maximum of 50 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocalLangEmployerName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Employer name in local language. Maximum of 50 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Employee ID. Maximum of 50 characters.</xs:documentation>
			</xs:annotation>
			</xs:element>	
			<xs:element name="EmployerAddress" type="PostalAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address of employer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Title of the position held. Maximum of 50 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Department" type="xs:string">
				<xs:annotation>
					<xs:documentation>Department Name.</xs:documentation>
			</xs:annotation>
			</xs:element>	
			<xs:element name="DatesOfEmployment" type="DateRangeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Date ranges of employment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Compensation" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="intervalType" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="yearly"/>
										<xs:enumeration value="bi-weekly"/>
										<xs:enumeration value="daily"/>
										<xs:enumeration value="hourly"/>
										<xs:enumeration value="monthly"/>
										<xs:enumeration value="semi-monthly"/>
										<xs:enumeration value="weekly"/>
										<xs:enumeration value="other"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="currency" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonForLeaving" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reason a person left a prior position. Maximum of 255 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PermissionToContact" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The subject agrees/does not agree that the organization may be contacted to verify position related details</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="current"/>
					<xs:enumeration value="prior"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ContactInfoType">
		<xs:annotation>
			<xs:documentation>Contact information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact name. Maximum of 90 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternetEmailAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Email Contact information.</xs:documentation>
				</xs:annotation>
			</xs:element>		
			<xs:element name="ContactMethod" type="ContactMethodType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GovernmentIdType">
		<xs:annotation>
			<xs:documentation>Government id value</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="issuingCountry" type="xs:string">
					<xs:annotation>
						<xs:documentation>This is the ISO Country code.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="issuingAuthority" use="required">
					<xs:annotation>
						<xs:documentation>Entity that issued the id
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="SSN" />
							<xs:enumeration value="GOVT" />
							<xs:enumeration value="PASSPORT" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DemographicDetailType">
		<xs:annotation>
			<xs:documentation>Demographic information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HasSSN" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Y"/>
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GovernmentId" type="GovernmentIdType" />
			<xs:element name="DateOfBirth" type="DateOrEmptyType" minOccurs="0"/>
			<xs:element name="Race" type="xs:string" minOccurs="0"/>
			<xs:element name="Gender" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="M"/>
						<xs:enumeration value="F"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApplicantType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="E"/>
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactMethodType">
		<xs:annotation>
			<xs:documentation>Methods to contact a person</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Telephone" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Number" type="xs:string" minOccurs="0"/>
						<xs:element name="Extension" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="type">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="fax"/>
								<xs:enumeration value="home"/>
								<xs:enumeration value="mobile"/>
								<xs:enumeration value="work"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="InternetEmailAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="PostalAddress" type="PostalAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageInformationType">
		<xs:sequence>
			<xs:element name="PackageId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ChoicePoint assigned number identifying which background screenings to run</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9][0-9][0-9][0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PositionAppliedFor" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the position the subject is applying for. Maximum of 50 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Compensation" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="intervalType" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="yearly"/>
										<xs:enumeration value="bi-weekly"/>
										<xs:enumeration value="daily"/>
										<xs:enumeration value="hourly"/>
										<xs:enumeration value="monthly"/>
										<xs:enumeration value="semi-monthly"/>
										<xs:enumeration value="weekly"/>
										<xs:enumeration value="other"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="currency" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpecialInstructions" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Special instructions for this candidates background search. Maximum of 4000 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CopyToApplicant" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Applicant may request to receive a detailed results report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientReferences" type="ClientReferenceType" minOccurs="0"/>
			<xs:element name="UserDefinedFields" type="UserDefinedFieldType" minOccurs="0"/>
			<xs:element name="Quotebacks" type="QuotebackType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information meaningful to the requester that will be returned on all results</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProviderReferences" type="ProviderReferenceType" minOccurs="0"/>
			<xs:element name="RequestorBackup" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Requestor backup name. Maximum of 50 characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderAccount" type="OrderAccountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allow the requestor to authenticate with one account/userid and order for a different account/userid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReturnLink" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Return link used at the completion of a two-step ordering process</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProviderReferenceType">
		<xs:sequence>
			<xs:element name="ProviderReference" type="xs:string" >
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScreeningStatusType">
		<xs:annotation>
			<xs:documentation>Status of a screening or entire background check</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderStatus" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Completed"/>
						<xs:enumeration value="Preliminary"/>
						<xs:enumeration value="Duplicate"/>	
						<xs:enumeration value="UnderConstruction"/>
						<xs:enumeration value="Disabled"/>
						<xs:enumeration value="Deferred"/>						
						<xs:enumeration value="Delayed"/>
						<xs:enumeration value="Pending"/>
						<xs:enumeration value="UnexpectedStatus"/>																																										
						<xs:enumeration value="InProgress"/>
						<xs:enumeration value="Hold"/>
						<xs:enumeration value="Cancelled"/>
						<xs:enumeration value="x:Disabled"/>
						<xs:enumeration value="x:Deferred"/>						
						<xs:enumeration value="x:Duplicate"/>												
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Result status of a screening or entire background check</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Pass"/>
						<xs:enumeration value="Review"/>
						<xs:enumeration value="Fail"/>
						<xs:enumeration value="Negative"/>
						<xs:enumeration value="NegativeDilute"/>
						<xs:enumeration value="Positive"/>
						<xs:enumeration value="Cancel"/>
						<xs:enumeration value="HoldMRO"/>						
						<xs:enumeration value="Unverified"/>
						<xs:enumeration value="PassWithRestrictions"/>
						<xs:enumeration value="Scheduled"/>
						<xs:enumeration value="Rescheduled"/>
						<xs:enumeration value="NoShow"/>
						<xs:enumeration value="Collected"/>
						<xs:enumeration value="PartiallyComplete"/>
						<xs:enumeration value="UnexpectedResult"/>						
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Score" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The score of the background check</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Decisional"/>
						<xs:enumeration value="Eligible"/>
						<xs:enumeration value="Ineligible"/>
						<xs:enumeration value="RetainInPlace"/>
						<xs:enumeration value="Cancelled"/>
						<xs:enumeration value="UnexpectedScore"/>																								
						<xs:enumeration value="Preliminary"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ScoreStatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customers Custom Status if present</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScreeningType">
		<xs:sequence>
			<xs:element name="ScreeningStatus" type="ScreeningStatusType" minOccurs="0"/>
			<xs:element name="Alerts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Alert" type="AlertType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ErrorReport" type="ErrorReportType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Employer" type="EmployerType" minOccurs="0"/>
			<xs:element name="SchoolOrInstitution" type="SchoolOrInstitutionType" minOccurs="0"/>
			<xs:element name="Branch" type="xs:string" minOccurs="0"/>
			<xs:element name="Reference" type="ReferencesType" minOccurs="0"/>
			<xs:element name="PostalAddress" type="PostalAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="License" type="LicenseType" minOccurs="0"/>
			<xs:element name="SearchDrugs" type="DrugType" minOccurs="0"/>
			<xs:element name="SearchAlcohol" type="AlcoholType" minOccurs="0"/>					
			<xs:element name="SearchPlysical" type="PhysicalType" minOccurs="0"/>				
			<xs:element name="Other" type="OtherType" minOccurs="0"/>
			<xs:element name="PublicRecord" type="PublicRecordType" minOccurs="0"/>
			<xs:element name="EVTN" type="EVTNType" />
			<xs:element name="NCRP" type="NCRPType" />
			<xs:element name="PRI-FAM" type="NCRPType" />			
			<xs:element name="PRI-FFM" type="NCRPType" />			
			<xs:element name="PRIOFAC" type="NCRPType" />
			<xs:element name="PRI-ADD" type="NCRPType" />									
			<xs:element name="SSNV" type="SSNVerificationType"/>
			<xs:element name="SSNVALIDATION" type="SSNValidationType" />
			<xs:element name="ScreeningResults" type="ScreeningResultsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:annotation>
				<xs:documentation>Identifies the type of the screening: 				
				CVR - Certification
				CVR-INS - State Insurance Check
				ED - Education
				FEMP - Former Employment
				FIN - Financial Report/Credit
				GSA - Database Searches
				MIL - Military Records
				MVR - Motor Vehicle Report
				OTHER - Other Component
				PEMP - Present Employment
				PRI-ADD - Public Record Additional Record Type
				PRIOFAC - Office of Foreign Asset Control
				PRI-FDA - FDA Sanctions List
				PRICPGS - ChoicePoint Global Sanction Search
				PRINSOS - National Sex Offender Registry Search (Justice Department website)
				PRI-OIG - Office of Inspector General
				PRI-SEC - Securities and Exchange Commission
				PRICDLS - Commercial Driver's License Search
				PRI-MMS - Media Search
				PRI-GSA - Health and Human Services, Office of Inspector General List of Excluded Individuals, and Government Services Administration's Excluded Parties List System
				PRI-SEX - Sexual Offender Search
				PRIFAC1 - Fraud and Abuse Control Information System - Level 1
				PRIFAC2 - Fraud and Abuse Control Information System - Level 2
				PRIFAC3 - Fraud and Abuse Control Information System - Level 3
				PRIFC1O - Fraud and Abuse Control Plus OFAC Level 1
				PRIFC2O - Fraud and Abuse Control Plus OFAC Level 2
				PRIFC3O - Fraud and Abuse Control Plus OFAC Level 3
				PRIOIAL - State Officer of Inspector General - Alabama
				PRIOICA - State Officer of Inspector General - California
				PRIOIGA - State Officer of Inspector General - Georgia
				PRIOIID - State Officer of Inspector General - Idaho
				PRIOIIL - State Officer of Inspector General - Illinois 
				PRIOIKS - State Officer of Inspector General - Kansas
				PRIOINJ - State Officer of Inspector General - New Jersey
				PRIOINY - State Officer of Inspector General - New York
				PRIOIPA - State Officer of Inspector General - Pennsylvania
				PRIOITX - State Officer of Inspector General - Texas								
				PRI-CR - Statewide Criminal
				PRI-EXP - 
				PRI-FAM - County Seat Felony and Misdemeanor
				PRI-FFM - Federal Felony And Misdemeanor
				PRI-FIM - Felony Including Misdemeanor
				PRI-FM - Felony And Misdemeanor
				PRI-FRI - Felony Record Information - County Felony
				PRI-MRI - Misdemeanor Record Information
				PRICPCR - 
				PRINCRF - National Criminal File
				PRINCRP - National Criminal File Plus
				PRIOFFM - 
				PRIOFIM - 
				REF - Reference
				SSNV - Social Security Verification
				WC - Worker's compensation
				INTLBNK	- International Bankruptcy Check
				INTLDSP	- International Directorship
				INTLED	- International Education
				INTLFIN - International Credit Check
				INTFMP	- International Former Employment
				INTLGID - International Government ID Search
				INTLLIC	- International License Verification
				INTLLIL	- International Litigation - Local
				INTLLIN	- International Litigation - National
				INTLMMS	- International Reputational Media Search
				INTLMVR	- International Driver's License Verification
				INTLOTH	- International Other
				INTLPMP	- International Present Employment
				INTLPRL	- International Criminal Search - Local
				INTLPRN	- International Criminal Search – National
				INTLREF	- International References
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ADI"/>
					<xs:enumeration value="CVR"/>
					<xs:enumeration value="CVR-INS"/>
					<xs:enumeration value="DRG"/>
					<xs:enumeration value="SCG"/>
					<xs:enumeration value="ED"/>
					<xs:enumeration value="FEMP"/>
					<xs:enumeration value="FIN"/>
					<xs:enumeration value="GSA"/>
					<xs:enumeration value="MIL"/>
					<xs:enumeration value="MVR"/>
					<xs:enumeration value="NCRP"/>
					<xs:enumeration value="EVTN"/>
					<xs:enumeration value="OTHER"/>
					<xs:enumeration value="PEMP"/>
					<xs:enumeration value="PRI-ADD"/>
					<xs:enumeration value="PRIOFAC"/>
					<xs:enumeration value="PRICPGS"/>					
					<xs:enumeration value="PRINSOS"/>					
					<xs:enumeration value="PRI-OIG"/>					
					<xs:enumeration value="PRI-SEC"/>					
					<xs:enumeration value="PRI-FDA"/>										
					<xs:enumeration value="PRICDLS"/>					
					<xs:enumeration value="PRI-MMS"/>					
					<xs:enumeration value="PRI-GSA"/>					
					<xs:enumeration value="PRI-SEX"/>					
					<xs:enumeration value="PRIFAC1"/>					
					<xs:enumeration value="PRIFAC2"/>					
					<xs:enumeration value="PRIFAC3"/>
					<xs:enumeration value="PRIFC1O"/>
					<xs:enumeration value="PRIFC2O"/>
					<xs:enumeration value="PRIFC3O"/>
					<xs:enumeration value="PRIOIAL"/>
					<xs:enumeration value="PRIOICA"/>
					<xs:enumeration value="PRIOIGA"/>
					<xs:enumeration value="PRIOIID"/>
					<xs:enumeration value="PRIOIIL"/>
					<xs:enumeration value="PRIOIKS"/>
					<xs:enumeration value="PRIOINJ"/>
					<xs:enumeration value="PRIOINY"/>
					<xs:enumeration value="PRIOIPA"/>
					<xs:enumeration value="PRIOITX"/>										
					<xs:enumeration value="PRI-CR"/>
					<xs:enumeration value="PRI-EXP"/>
					<xs:enumeration value="PRI-FAM"/>
					<xs:enumeration value="PRI-FFM"/>
					<xs:enumeration value="PRI-FIM"/>
					<xs:enumeration value="PRI-FM"/>
					<xs:enumeration value="PRI-FRI"/>
					<xs:enumeration value="PRI-MRI"/>
					<xs:enumeration value="PRICPCR"/>
					<xs:enumeration value="PRINCRF"/>
					<xs:enumeration value="PRINCRP"/>
					<xs:enumeration value="PRIOFFM"/>
					<xs:enumeration value="PRIOFIM"/>
					<xs:enumeration value="REF"/>
					<xs:enumeration value="SSNV"/>
					<xs:enumeration value="WC"/>
					<xs:enumeration value="INTLBNK"/>
					<xs:enumeration value="INTLDSP"/>
					<xs:enumeration value="INTLED"/>
					<xs:enumeration value="INTLFIN"/>
					<xs:enumeration value="INTLFMP"/>
					<xs:enumeration value="INTLGID"/>
					<xs:enumeration value="INTLLIC"/>
					<xs:enumeration value="INTLLIL"/>
					<xs:enumeration value="INTLLIN"/>
					<xs:enumeration value="INTLMMS"/>
					<xs:enumeration value="INTLMVR"/>
					<xs:enumeration value="INTLOTH"/>
					<xs:enumeration value="INTLPMP"/>
					<xs:enumeration value="INTLPRL"/>
					<xs:enumeration value="INTLPRN"/>
					<xs:enumeration value="INTLREF"/>					
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>			
		<xs:attribute name="subtype">
			<xs:annotation>
				<xs:documentation>Identifies the subtype of the screening:
				Type: 		CVR - Credential Verification
				Subtype:	CER - Certification
							FAA - Federal Aviation Administration Record Check
							IND - Industry Accreditation
							LIC - License Verification

				Type: 		MIL - Military Records
				Subtype:	MILD - Discharge Papers	
							MILF - Full Record

				Type:		OTHER - Other Component	
				Subtype:	ASET - Asset Search 
							BANK - Bankruptcy Records 
							BFIN - Business Financial Report 
							DOCA - DOC Denied Persons List   
							DOCB - DOC Entity List Social   
							DOS - DOS Proliferation Debarment List   
							DTEC - DTEC  
							EAR - Export Administration Regulations    
							ESTM - Esteem Database Search    
							ESTM - Esteem Database Search    
							FDA - FDA Sanctions List 
							FIN - Financial Report    
							GSA - General Services Administration    
							HHS - Health and Human Services    
							HIP - Health Integrity Protection    
							IDRT - ID Report    
							LITI - Litigation    
							MIDX - Mortgage Industry Data Exchange    
							MMS - Media Search    
							OFAC - Office of Foreign Assets Control    
							OIG - Occupational Industry Government    
							OTH - Other    
							PHOT - Photograph Identification    
							PRI - Public Records Information    
							SEC - Securities and Exchange Commission    
							SEX - Sexual Offender Search    
							TAX - Tax Liens    
							WARR - Wants and Warrants Search 

				Type:		PRI-ADD - PRI Additional Record Type
				Subtype:	ARTI - Articles of Incorporation   
							BANK - Bankruptcy Records   
							BKFA - Bankruptcy Record Federal Archive  
							CUC5 - County/Town UCC Search 5 Years 
							CUF5 - County/Town UCC Search 5 Years and Filing    
							DVRC - Divorce 
							FCLR - Federal Civil Litigation Records  
							FFFA - Federal Felony and Misdemeanor Federal Archive    
							FIXF - Fixture Filing 
							FIXS - Fixture Filing Search   
							FLFA - Federal Civil Litigation Records Federal Archive    
							JUD2 - Judgment Search 2 Years    
							JUDG - Judgment Search    
							LITI - Not Valid For Re - Litigation Records    
							MUNI - Not Valid For Re - Municipal Record    
							POL - Police Records    
							SCL2 - State Civil Litigation Record Search 2 Years    
							SCLL - State Civil Litigation Lower Court Search    
							SCLR - State Civil Litigation Records    
							SCLU - State Civil Litigation Upper Court Search    
							SOST - Secretary Of State Tax Lien Search    
							SOT2 - Secretary Of State Tax Lien Search 2 Years    
							SUC5 - Secretary Of State UCC Search 5 Years    
							SUF5 - Secretary Of State UCC Search 5 Years And Filing    
							TAXF - Tax Liens / Federal    
							TAXS - Tax Liens / State    
							TRFC - Traffic Record Search    
							TXF2 - Tax Liens - Federal 2 Years    
							TXS2 - Tax Liens - State 2 Years    
							UCC5 - Not Valid For Re - UCC Search 5 Years    
							UCF5 - Not Valid For Re - UCC Search 5 Years And Filing    
							WARR - Wants And Warrants Search    
							WCOM - Workers Compensation    
							WCT - Tallahassee Workers' Compensation 

				Type: 		WC - Workers Compensation
				Subtype:	WCOM - Workers Compensation
							WCT - Tallahassee Workers Compensation

				Type: 		INTL* - International Elements
				Subtype:	AD - ANDORRA
							AE - UNITED ARAB EMIRATES
							AF - AFGHANISTAN
							AG - ANTIGUA AND BARBUDA
							AI - ANGUILLA
							AL - ALBANIA
							AM - ARMENIA
							AN - NETHERLANDS ANTILLES
							AO - ANGOLA
							AQ - ANTARCTICA
							AT - AUSTRIA
							AU - AUSTRALIA
							AW - ARUBA
							AZ - AZERBAIJAN
							BA - BOSNIA AND HERZEGOVINA
							BB - BARBADOS
							BD - BANGLADESH
							BE - BELGIUM
							BF - BURKINA FASO
							BG - BULGARIA
							BH - BAHRAIN
							BI - BURUNDI
							BJ - BENIN
							BM - BERMUDA
							BN - BRUNEI DARUSSALAM
							BO - BOLIVIA
							BR - BRAZIL
							BS - BAHAMAS
							BT - BHUTAN
							BV - BOUVET ISLAND
							BW - BOTSWANA
							BY - BELARUS
							BZ - BELIZE
							CA - CANADA
							CC - COCOS (KEELING) ISLANDS
							CD - CONGO, THE DEMOCRATIC REPUBLIC OF THE
							CF - CENTRAL AFRICAN REPUBLIC
							CG - CONGO
							CH - SWITZERLAND
							CI - CÔTE D'IVOIRE
							CK - COOK ISLANDS
							CL - CHILE
							CM - CAMEROON
							CN - CHINA
							CO - COLOMBIA
							CR - COSTA RICA
							CU - CUBA
							CV - CAPE VERDE
							CX - CHRISTMAS ISLAND
							MZ - MOZAMBIQUE
							GS - SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS
							GT - GUATEMALA
							GU - GUAM
							GW - GUINEA-BISSAU
							GY - GUYANA
							HK - HONG KONG
							HM - HEARD ISLAND AND MCDONALD ISLANDS
							HN - HONDURAS
							HR - CROATIA
							HT - HAITI
							HU - HUNGARY
							ID - INDONESIA
							IE - IRELAND
							IL - ISRAEL
							IN - INDIA
							IO - BRITISH INDIAN OCEAN TERRITORY
							IQ - IRAQ
							IR - IRAN, ISLAMIC REPUBLIC OF
							IS - ICELAND
							IT - ITALY
							JM - JAMAICA
							JO - JORDAN
							JP - JAPAN
							KE - KENYA
							KG - KYRGYZSTAN
							KH - CAMBODIA
							KI - KIRIBATI
							KM - COMOROS
							KN - SAINT KITTS AND NEVIS
							KP - KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF
							KR - KOREA, REPUBLIC OF
							KW - KUWAIT
							KY - CAYMAN ISLANDS
							KZ - KAZAKHSTAN
							LA - LAO PEOPLE’S DEMOCRATIC REPUBLIC
							LB - LEBANON
							LC - SAINT LUCIA
							LI - LIECHTENSTEIN
							LK - SRI LANKA
							LR - LIBERIA
							LS - LESOTHO
							LT - LITHUANIA
							LU - LUXEMBOURG
							LV - LATVIA
							LY - LIBYAN ARAB JAMAHIRIYA
							MA - MOROCCO
							MC - MONACO
							MD - MOLDOVA, REPUBLIC OF
							MG - MADAGASCAR
							NA - NAMIBIA
							NC - NEW CALEDONIA
							NE - NIGER
							NF - NORFOLK ISLAND
							NG - NIGERIA
							NI - NICARAGUA
							NL - NETHERLANDS
							NO - NORWAY
							NP - NEPAL
							NR - NAURU
							NU - NIUE
							NZ - NEW ZEALAND
							OM - OMAN
							PA - PANAMA
							PE - PERU
							PF - FRENCH POLYNESIA
							PG - PAPUA NEW GUINEA
							PH - PHILIPPINES
							PK - PAKISTAN
							PL - POLAND
							PM - SAINT PIERRE AND MIQUELON
							PN - PITCAIRN
							PR - PUERTO RICO
							PS - PALESTINIAN TERRITORY, OCCUPIED
							PT - PORTUGAL
							PW - PALAU
							PY - PARAGUAY
							QA - QATAR
							RE - RÉUNION
							RO - ROMANIA
							RU - RUSSIAN FEDERATION
							RW - RWANDA
							SA - SAUDI ARABIA
							SB - SOLOMON ISLANDS
							SC - SEYCHELLES
							SD - SUDAN
							SE - SWEDEN
							SG - SINGAPORE
							SH - SAINT HELENA
							SI - SLOVENIA
							SJ - SVALBARD AND JAN MAYEN
							SK - SLOVAKIA
							SL - SIERRA LEONE
							SM - SAN MARINO
							SN - SENEGAL
							SO - SOMALIA
							SR - SURINAME
							ST - SAO TOME AND PRINCIPE
							SV - EL SALVADOR
							SY - SYRIAN ARAB REPUBLIC
							SZ - SWAZILAND
							TC - TURKS AND CAICOS ISLANDS
							TD - CHAD
							TF - FRENCH SOUTHERN TERRITORIES
							TG - TOGO
							TH - THAILAND
							TJ - TAJIKISTAN
							TK - TOKELAU
							TL - TIMOR-LESTE
							TM - TURKMENISTAN
							TN - TUNISIA
							TO - TONGA
							TR - TURKEY
							TT - TRINIDAD AND TOBAGO
							TV - TUVALU
							TW - TAIWAN, PROVINCE OF CHINA
							TZ - TANZANIA, UNITED REPUBLIC OF
							CY - CYPRUS
							CZ - CZECH REPUBLIC
							DE - GERMANY
							DJ - DJIBOUTI
							DK - DENMARK
							DM - DOMINICA
							DO - DOMINICAN REPUBLIC
							DZ - ALGERIA
							EC - ECUADOR
							EE - ESTONIA
							EG - EGYPT
							EH - WESTERN SAHARA
							ER - ERITREA
							ES - SPAIN
							ET - ETHIOPIA
							FI - FINLAND
							FJ - FIJI
							FK - FALKLAND ISLANDS (MALVINAS)
							FM - MICRONESIA, FEDERATED STATES OF
							FO - FAROE ISLANDS
							FR - FRANCE
							GA - GABON
							GB - UNITED KINGDOM
							GD - GRENADA
							GE - GEORGIA
							GF - FRENCH GUIANA
							GH - GHANA
							GI - GIBRALTAR
							GL - GREENLAND
							GM - GAMBIA
							GN - GUINEA
							GP - GUADELOUPE
							GQ - EQUATORIAL GUINEA
							GR - GREECE
							MH - MARSHALL ISLANDS
							MK - MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF
							ML - MALI
							MM - MYANMAR
							MN - MONGOLIA
							MO - MACAO
							MP - NORTHERN MARIANA ISLANDS
							MQ - MARTINIQUE
							MR - MAURITANIA
							MS - MONTSERRAT
							MT - MALTA
							MU - MAURITIUS
							MV - MALDIVES
							MW - MALAWI
							MX - MEXICO
							MY - MALAYSIA
							UA - UKRAINE
							UG - UGANDA
							UM - UNITED STATES MINOR OUTLYING ISLANDS
							UY - URUGUAY
							UZ - UZBEKISTAN
							VA - HOLY SEE (VATICAN CITY STATE)
							VC - SAINT VINCENT AND THE GRENADINES
							VE - VENEZUELA
							VG - VIRGIN ISLANDS, BRITISH
							VI - VIRGIN ISLANDS, U.S.
							VN - VIET NAM
							VU - VANUATU
							WF - WALLIS AND FUTUNA
							WS - SAMOA
							YE - YEMEN
							YT - MAYOTTE
							RS - SERBIA
							ZA - SOUTH AFRICA
							ZM - ZAMBIA
							ZW - ZIMBABWE
							AS - AMERICAN SAMOA
							AR - ARGENTINA
							GG - GUERNSEY
							IM - ISLE OF MAN
							JE - JERSEY
							ME - MONTENEGRO
							BL - SAINT BARTHÉLEMY
							MF - SAINT MARTIN (FRENCH PART)
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ADI"/>
					<xs:enumeration value="ALOC"/>
					<xs:enumeration value="ARSP"/>
					<xs:enumeration value="ARTI"/>
					<xs:enumeration value="ASET"/>
					<xs:enumeration value="AZPS"/>
					<xs:enumeration value="BANK"/>
					<xs:enumeration value="BFIN"/>
					<xs:enumeration value="BKFA"/>
					<xs:enumeration value="CA5"/>
					<xs:enumeration value="CADJ"/>
					<xs:enumeration value="CBOI"/>
					<xs:enumeration value="CDLS"/>
					<xs:enumeration value="CER"/>
					<xs:enumeration value="CPDS"/>
					<xs:enumeration value="CPGW"/>
					<xs:enumeration value="CTSP"/>
					<xs:enumeration value="CUC5"/>
					<xs:enumeration value="CUF5"/>
					<xs:enumeration value="DCMP"/>
					<xs:enumeration value="DESP"/>
					<xs:enumeration value="DTEC"/>
					<xs:enumeration value="DTH"/>
					<xs:enumeration value="DVRC"/>
					<xs:enumeration value="EAR"/>
					<xs:enumeration value="ESTM"/>
					<xs:enumeration value="EXAU"/>
					<xs:enumeration value="EXP"/>
					<xs:enumeration value="FandM"/>
					<xs:enumeration value="FAA"/>
					<xs:enumeration value="FAM"/>
					<xs:enumeration value="FC1O"/>
					<xs:enumeration value="FC2O"/>
					<xs:enumeration value="FC3O"/>					
					<xs:enumeration value="FCLR"/>
					<xs:enumeration value="FDA"/>
					<xs:enumeration value="FDLE"/>
					<xs:enumeration value="FFandM"/>
					<xs:enumeration value="FFFA"/>
					<xs:enumeration value="FIM"/>
					<xs:enumeration value="FIXF"/>
					<xs:enumeration value="FIXS"/>
					<xs:enumeration value="FLFA"/>
					<xs:enumeration value="FRI"/>
					<xs:enumeration value="GCIC"/>
					<xs:enumeration value="GCIF"/>
					<xs:enumeration value="GSA"/>
					<xs:enumeration value="HHS"/>
					<xs:enumeration value="HICJ"/>
					<xs:enumeration value="HIP"/>
					<xs:enumeration value="IACI"/>
					<xs:enumeration value="IDLE"/>
					<xs:enumeration value="ILSP"/>
					<xs:enumeration value="IND"/>
					<xs:enumeration value="INSP"/>
					<xs:enumeration value="JUD2"/>
					<xs:enumeration value="JUDG"/>
					<xs:enumeration value="KSBI"/>
					<xs:enumeration value="KYOC"/>
					<xs:enumeration value="KYSP"/>
					<xs:enumeration value="LAC"/>
					<xs:enumeration value="LAPS"/>
					<xs:enumeration value="LIC"/>
					<xs:enumeration value="LITI"/>
					<xs:enumeration value="MACH"/>
					<xs:enumeration value="MDOC"/>
					<xs:enumeration value="MEPS"/>
					<xs:enumeration value="MIDX"/>
					<xs:enumeration value="MILD"/>
					<xs:enumeration value="MILF"/>
					<xs:enumeration value="MISD"/>
					<xs:enumeration value="MISP"/>
					<xs:enumeration value="MMS"/>
					<xs:enumeration value="MNCA"/>
					<xs:enumeration value="MOHP"/>
					<xs:enumeration value="MTDJ"/>
					<xs:enumeration value="MUNI"/>
					<xs:enumeration value="NCOC"/>
					<xs:enumeration value="NCRF"/>
					<xs:enumeration value="NCRP"/>
					<xs:enumeration value="NDBI"/>
					<xs:enumeration value="NESP"/>
					<xs:enumeration value="NHPS"/>
					<xs:enumeration value="NJSP"/>
					<xs:enumeration value="NMPS"/>
					<xs:enumeration value="NSOS"/>
					<xs:enumeration value="NY13"/>
					<xs:enumeration value="NY4B"/>
					<xs:enumeration value="NY5B"/>
					<xs:enumeration value="NYOC"/>
					<xs:enumeration value="OFAC"/>
					<xs:enumeration value="OFFM"/>
					<xs:enumeration value="OFIM"/>
					<xs:enumeration value="OHBI"/>
					<xs:enumeration value="OIG"/>
					<xs:enumeration value="OIAL"/>
					<xs:enumeration value="OICA"/>
					<xs:enumeration value="OIGA"/>
					<xs:enumeration value="OIID"/>
					<xs:enumeration value="OIIL"/>
					<xs:enumeration value="OIKS"/>
					<xs:enumeration value="OINJ"/>
					<xs:enumeration value="OINY"/>
					<xs:enumeration value="OIPA"/>
					<xs:enumeration value="OITX"/>					
					<xs:enumeration value="OKBI"/>
					<xs:enumeration value="OPEN"/>
					<xs:enumeration value="ORSP"/>
					<xs:enumeration value="OTH"/>
					<xs:enumeration value="PARI"/>
					<xs:enumeration value="POL"/>
					<xs:enumeration value="PRI"/>
					<xs:enumeration value="RIBI"/>
					<xs:enumeration value="SCL2"/>
					<xs:enumeration value="SCLL"/>
					<xs:enumeration value="SCLR"/>
					<xs:enumeration value="SCLU"/>
					<xs:enumeration value="SDCI"/>
					<xs:enumeration value="SEC"/>
					<xs:enumeration value="SEX"/>
					<xs:enumeration value="SLED"/>
					<xs:enumeration value="SOST"/>
					<xs:enumeration value="SOT2"/>
					<xs:enumeration value="SSNV"/>
					<xs:enumeration value="SUC5"/>
					<xs:enumeration value="SUF5"/>
					<xs:enumeration value="TAX"/>
					<xs:enumeration value="TAXF"/>
					<xs:enumeration value="TAXS"/>
					<xs:enumeration value="TNBI"/>
					<xs:enumeration value="TRFC"/>
					<xs:enumeration value="TXF2"/>
					<xs:enumeration value="TXPS"/>
					<xs:enumeration value="TXS2"/>
					<xs:enumeration value="UCC5"/>
					<xs:enumeration value="UCF5"/>
					<xs:enumeration value="VASP"/>
					<xs:enumeration value="VTCI"/>
					<xs:enumeration value="WARR"/>
					<xs:enumeration value="WASP"/>
					<xs:enumeration value="WCOM"/>
					<xs:enumeration value="WCT"/>
					<xs:enumeration value="WICI"/>
					<xs:enumeration value="WSCR"/>
					<xs:enumeration value="WVSP"/>
					<xs:enumeration value="WYCI"/>
					<xs:enumeration value="AD"/>
					<xs:enumeration value="AE"/>
					<xs:enumeration value="AF"/>
					<xs:enumeration value="AG"/>
					<xs:enumeration value="AI"/>
					<xs:enumeration value="AL"/>
					<xs:enumeration value="AM"/>
					<xs:enumeration value="AN"/>
					<xs:enumeration value="AO"/>
					<xs:enumeration value="AQ"/>
					<xs:enumeration value="AR"/>
					<xs:enumeration value="AS"/>
					<xs:enumeration value="AT"/>
					<xs:enumeration value="AU"/>
					<xs:enumeration value="AW"/>
					<xs:enumeration value="AZ"/>
					<xs:enumeration value="BA"/>
					<xs:enumeration value="BB"/>
					<xs:enumeration value="BD"/>
					<xs:enumeration value="BE"/>
					<xs:enumeration value="BF"/>
					<xs:enumeration value="BG"/>
					<xs:enumeration value="BH"/>
					<xs:enumeration value="BI"/>
					<xs:enumeration value="BJ"/>
					<xs:enumeration value="BL"/>
					<xs:enumeration value="BM"/>
					<xs:enumeration value="BN"/>
					<xs:enumeration value="BO"/>
					<xs:enumeration value="BR"/>
					<xs:enumeration value="BS"/>
					<xs:enumeration value="BT"/>
					<xs:enumeration value="BV"/>
					<xs:enumeration value="BW"/>
					<xs:enumeration value="BY"/>
					<xs:enumeration value="BZ"/>
					<xs:enumeration value="CA"/>
					<xs:enumeration value="CC"/>
					<xs:enumeration value="CD"/>
					<xs:enumeration value="CF"/>
					<xs:enumeration value="CG"/>
					<xs:enumeration value="CH"/>
					<xs:enumeration value="CI"/>
					<xs:enumeration value="CK"/>
					<xs:enumeration value="CL"/>
					<xs:enumeration value="CM"/>
					<xs:enumeration value="CN"/>
					<xs:enumeration value="CO"/>
					<xs:enumeration value="CR"/>
					<xs:enumeration value="CU"/>
					<xs:enumeration value="CV"/>
					<xs:enumeration value="CX"/>
					<xs:enumeration value="CY"/>
					<xs:enumeration value="CZ"/>
					<xs:enumeration value="DE"/>
					<xs:enumeration value="DJ"/>
					<xs:enumeration value="DK"/>
					<xs:enumeration value="DM"/>
					<xs:enumeration value="DO"/>
					<xs:enumeration value="DZ"/>
					<xs:enumeration value="EC"/>
					<xs:enumeration value="EE"/>
					<xs:enumeration value="EG"/>
					<xs:enumeration value="EH"/>
					<xs:enumeration value="ER"/>
					<xs:enumeration value="ES"/>
					<xs:enumeration value="ET"/>
					<xs:enumeration value="FI"/>
					<xs:enumeration value="FJ"/>
					<xs:enumeration value="FK"/>
					<xs:enumeration value="FM"/>
					<xs:enumeration value="FO"/>
					<xs:enumeration value="FR"/>
					<xs:enumeration value="GA"/>
					<xs:enumeration value="GB"/>
					<xs:enumeration value="GD"/>
					<xs:enumeration value="GE"/>
					<xs:enumeration value="GF"/>
					<xs:enumeration value="GG"/>
					<xs:enumeration value="GH"/>
					<xs:enumeration value="GI"/>
					<xs:enumeration value="GL"/>
					<xs:enumeration value="GM"/>
					<xs:enumeration value="GN"/>
					<xs:enumeration value="GP"/>
					<xs:enumeration value="GQ"/>
					<xs:enumeration value="GR"/>
					<xs:enumeration value="GS"/>
					<xs:enumeration value="GT"/>
					<xs:enumeration value="GU"/>
					<xs:enumeration value="GW"/>
					<xs:enumeration value="GY"/>
					<xs:enumeration value="HK"/>
					<xs:enumeration value="HM"/>
					<xs:enumeration value="HN"/>
					<xs:enumeration value="HR"/>
					<xs:enumeration value="HT"/>
					<xs:enumeration value="HU"/>
					<xs:enumeration value="ID"/>
					<xs:enumeration value="IE"/>
					<xs:enumeration value="IL"/>
					<xs:enumeration value="IM"/>
					<xs:enumeration value="IN"/>
					<xs:enumeration value="IO"/>
					<xs:enumeration value="IQ"/>
					<xs:enumeration value="IR"/>
					<xs:enumeration value="IS"/>
					<xs:enumeration value="IT"/>
					<xs:enumeration value="JE"/>
					<xs:enumeration value="JM"/>
					<xs:enumeration value="JO"/>
					<xs:enumeration value="JP"/>
					<xs:enumeration value="KE"/>
					<xs:enumeration value="KG"/>
					<xs:enumeration value="KH"/>
					<xs:enumeration value="KI"/>
					<xs:enumeration value="KM"/>
					<xs:enumeration value="KN"/>
					<xs:enumeration value="KP"/>
					<xs:enumeration value="KR"/>
					<xs:enumeration value="KW"/>
					<xs:enumeration value="KY"/>
					<xs:enumeration value="KZ"/>
					<xs:enumeration value="LA"/>
					<xs:enumeration value="LB"/>
					<xs:enumeration value="LC"/>
					<xs:enumeration value="LI"/>
					<xs:enumeration value="LK"/>
					<xs:enumeration value="LR"/>
					<xs:enumeration value="LS"/>
					<xs:enumeration value="LT"/>
					<xs:enumeration value="LU"/>
					<xs:enumeration value="LV"/>
					<xs:enumeration value="LY"/>
					<xs:enumeration value="MA"/>
					<xs:enumeration value="MC"/>
					<xs:enumeration value="MD"/>
					<xs:enumeration value="ME"/>
					<xs:enumeration value="MF"/>
					<xs:enumeration value="MG"/>
					<xs:enumeration value="MH"/>
					<xs:enumeration value="MK"/>
					<xs:enumeration value="ML"/>
					<xs:enumeration value="MM"/>
					<xs:enumeration value="MN"/>
					<xs:enumeration value="MO"/>
					<xs:enumeration value="MP"/>
					<xs:enumeration value="MQ"/>
					<xs:enumeration value="MR"/>
					<xs:enumeration value="MS"/>
					<xs:enumeration value="MT"/>
					<xs:enumeration value="MU"/>
					<xs:enumeration value="MV"/>
					<xs:enumeration value="MW"/>
					<xs:enumeration value="MX"/>
					<xs:enumeration value="MY"/>
					<xs:enumeration value="MZ"/>
					<xs:enumeration value="NA"/>
					<xs:enumeration value="NC"/>
					<xs:enumeration value="NE"/>
					<xs:enumeration value="NF"/>
					<xs:enumeration value="NG"/>
					<xs:enumeration value="NI"/>
					<xs:enumeration value="NL"/>
					<xs:enumeration value="NO"/>
					<xs:enumeration value="NP"/>
					<xs:enumeration value="NR"/>
					<xs:enumeration value="NU"/>
					<xs:enumeration value="NZ"/>
					<xs:enumeration value="OM"/>
					<xs:enumeration value="PA"/>
					<xs:enumeration value="PE"/>
					<xs:enumeration value="PF"/>
					<xs:enumeration value="PG"/>
					<xs:enumeration value="PH"/>
					<xs:enumeration value="PK"/>
					<xs:enumeration value="PL"/>
					<xs:enumeration value="PM"/>
					<xs:enumeration value="PN"/>
					<xs:enumeration value="PR"/>
					<xs:enumeration value="PS"/>
					<xs:enumeration value="PT"/>
					<xs:enumeration value="PW"/>
					<xs:enumeration value="PY"/>
					<xs:enumeration value="QA"/>
					<xs:enumeration value="RE"/>
					<xs:enumeration value="RO"/>
					<xs:enumeration value="RS"/>
					<xs:enumeration value="RU"/>
					<xs:enumeration value="RW"/>
					<xs:enumeration value="SA"/>
					<xs:enumeration value="SB"/>
					<xs:enumeration value="SC"/>
					<xs:enumeration value="SD"/>
					<xs:enumeration value="SE"/>
					<xs:enumeration value="SG"/>
					<xs:enumeration value="SH"/>
					<xs:enumeration value="SI"/>
					<xs:enumeration value="SJ"/>
					<xs:enumeration value="SK"/>
					<xs:enumeration value="SL"/>
					<xs:enumeration value="SM"/>
					<xs:enumeration value="SN"/>
					<xs:enumeration value="SO"/>
					<xs:enumeration value="SR"/>
					<xs:enumeration value="ST"/>
					<xs:enumeration value="SV"/>
					<xs:enumeration value="SY"/>
					<xs:enumeration value="SZ"/>
					<xs:enumeration value="TC"/>
					<xs:enumeration value="TD"/>
					<xs:enumeration value="TF"/>
					<xs:enumeration value="TG"/>
					<xs:enumeration value="TH"/>
					<xs:enumeration value="TJ"/>
					<xs:enumeration value="TK"/>
					<xs:enumeration value="TL"/>
					<xs:enumeration value="TM"/>
					<xs:enumeration value="TN"/>
					<xs:enumeration value="TO"/>
					<xs:enumeration value="TR"/>
					<xs:enumeration value="TT"/>
					<xs:enumeration value="TV"/>
					<xs:enumeration value="TW"/>
					<xs:enumeration value="TZ"/>
					<xs:enumeration value="UA"/>
					<xs:enumeration value="UG"/>
					<xs:enumeration value="UM"/>
					<xs:enumeration value="UY"/>
					<xs:enumeration value="UZ"/>
					<xs:enumeration value="VA"/>
					<xs:enumeration value="VC"/>
					<xs:enumeration value="VE"/>
					<xs:enumeration value="VG"/>
					<xs:enumeration value="VI"/>
					<xs:enumeration value="VN"/>
					<xs:enumeration value="VU"/>
					<xs:enumeration value="WF"/>
					<xs:enumeration value="WS"/>
					<xs:enumeration value="YE"/>
					<xs:enumeration value="YT"/>
					<xs:enumeration value="ZA"/>
					<xs:enumeration value="ZM"/>
					<xs:enumeration value="ZW"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:attribute name="clientReferenceId" type="xs:string" default="EN"/>
	<xs:attribute name="providerReferenceId" type="xs:string" default="EN"/>	
	<xs:complexType name="AlertType">
		<xs:sequence>
			<xs:element name="AlertNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="AlertName" type="xs:string" minOccurs="0"/>
			<xs:element name="AlertCode" type="xs:string" minOccurs="0"/>
			<xs:element name="AlertFlagColor" type="xs:string" minOccurs="0"/>
			<xs:element name="AlertColor" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScreeningResultsType">
		<xs:sequence>
			<xs:element name="InternetWebAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>URL to the order viewing on CPScreen website</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Text" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="mediaType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="html"/>
					<xs:enumeration value="txt"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="DegreeType">
		<xs:annotation>
			<xs:documentation>List of edcation degree types.  Other values are allowed by prefixing them with an "x:".</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="DegreeTypes xStringPatternExtensionType"/>
	</xs:simpleType>
	<xs:simpleType name="DegreeTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="highschool"/>
			<xs:enumeration value="vocational"/>
			<xs:enumeration value="certification"/>
			<xs:enumeration value="associates"/>
			<xs:enumeration value="bachelors"/>
			<xs:enumeration value="masters"/>
			<xs:enumeration value="doctorate"/>
			<xs:enumeration value="postdoctorate"/>
			<xs:enumeration value="professional"/>
			<xs:enumeration value="GED"/>	
	        <xs:enumeration value="other"/>						
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="xStringPatternExtensionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="x:\S.*"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:complexType name="ErrorReportType">
		<xs:sequence>
			<xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ErrorDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
</xs:schema>